<div class="login-form">
  <i id="closer" (click)="loginClose()"><a class="fas fa-times" href="#"></a></i>
  <form #logiForm="ngForm" (ngSubmit)="onSubmit()">
    <h3>Login</h3>
    <div class="alert alert-danger" [hidden]="!error">
      {{error}}
    </div>
    <input type="email" name="email" class="form-control" id="box" [(ngModel)]="form.email" placeholder="Enter your Email" required>
    <input type="password" name="password" class="form-control" id="box" [(ngModel)]="form.password" placeholder="Enter your password" required>
    <!-- <input type="submit" value="Login" name="login" class="btn btn-primary" [disabled]="!logiForm.valid"> -->
    <!-- <input type="email" name="email"class="form-control" id="exampleInputEmail1" [(ngModel)]="form.email" placeholder="Email" required> -->
    <button type="submit" class="btn" [disabled]="!logiForm.valid">login</button>
    <input type="checkbox" id="remember">
    <label for="remember">remember me</label>
    <p>forget password?<a routerLink="/request-reset">Reset Password</a></p>
    <!-- <small class="reset">
      <label for="t" class="col-sm-3">forgot password? </label>
      <a routerLink="/request-reset">Reset Password</a>
     </small> -->
     <!-- <p>don't have an acount?<a href="#" (click)="displaySignup()">register now</a></p> -->
    <p>don't have an acount?<a routerLink="/signupPage">register now</a></p>
    <!-- <a routerLink="/signup" class="col-lg" >Sign up</a> -->
  </form>
</div>

<app-userhome></app-userhome>
