
<main>

  <!-- Hero Area Start-->
  <div class="slider-area ">
  <div class="single-slider section-overly slider-height2 d-flex align-items-center" style="background-image:url('assets/img/hero/about.jpg')">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="hero-cap text-center">
                      <h2>Job details</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
  <!-- Hero Area End -->
  <!-- job post company Start -->
  <div class="job-post-company pt-120 pb-120">
    <form [formGroup]="form">
      <div class="container">
          <div class="row justify-content-between">

              <!-- Left Content -->
              <div class="col-xl-7 col-lg-8">
                  <!-- job single -->

                          <div class="post-details4  mb-50">
                               <h1>Job</h1><br>
                             <ul>
                                 <li>Name: <span><input type="text" name="title" class="form-control"  id="title" #title  formControlName="title" [(ngModel)]="jobs.title"></span></li>
                                 <li>Role : <span> <input type="text" name="JobRole" class="form-control" id="JobRole" #JobRole  formControlName="JobRole" [(ngModel)]="jobs.JobRole"></span></li>
                                 <li>Email: <span><input type="text" name="location" class="form-control" id="location" #location formControlName="location" [(ngModel)]="jobs.location"></span></li>
                             </ul>


                          </div>


                    <!-- job single End -->

                  <div class="job-post-details">
                      <div class="post-details1 mb-50">
                          <!-- Small Section Tittle -->
                          <div class="small-section-tittle">
                              <h4>Job Description</h4>
                          </div>
                          <p><textarea #disabled name="description" class="form-control" id="description" rows="1" #description  formControlName="description" [(ngModel)]="jobs.description"></textarea></p>
                      </div>
                      <div class="post-details2  mb-50">
                           <!-- Small Section Tittle -->
                          <div class="small-section-tittle">
                              <h4>Required Knowledge, Skills, and Abilities</h4>
                          </div>
                         <ul>
                             <li><textarea [disabled]="true" name="responsibility" class="form-control" id="responsibility" rows="1" #responsibility formControlName="responsibility" [(ngModel)]="jobs.responsibility"></textarea></li>
                             <li>Mobile Applicationin iOS/Android/Tizen or other platform</li>
                             <li>Research and code , libraries, APIs and frameworks</li>
                             <li>Strong knowledge on software development life cycle</li>
                             <li>Strong problem solving and debugging skills</li>
                         </ul>
                      </div>
                      <div class="post-details2  mb-50">
                           <!-- Small Section Tittle -->
                          <div class="small-section-tittle">
                              <h4>Education + Experience</h4>
                          </div>
                         <ul>
                             <li>3 or more years of professional design experience</li>
                             <li><input type="text" name="skill" class="form-control" id="skill" #skill formControlName="skill" [(ngModel)]="jobs.skill"></li>
                             <li>Ecommerce website design experience</li>
                             <li>Familiarity with mobile and web apps preferred</li>
                             <li>Experience using Invision a plus</li>
                         </ul>
                      </div>
                      <a routerLink="/JobListing" class=" col-lg ">Back</a><br><br>
                  </div>

              </div>
              <!-- Right Content -->
              <div class="col-xl-4 col-lg-4">
                  <div class="post-details3  mb-50">
                      <!-- Small Section Tittle -->
                     <div class="small-section-tittle">
                         <h4>Job Overview</h4>
                     </div>
                    <ul>
                        <li>Posted date :&nbsp; <span><input type="text" name="created_at" class="form-control" formControlName="created_at" [(ngModel)]="jobs.created_at" ></span></li>
                        <li>Location : <span><input type="text" name="location" class="form-control" id="location" #location formControlName="location" [(ngModel)]="jobs.location"></span></li>
                        <li>Hiring status : &nbsp;<span><input type="text" name="status" class="form-control" id="status" #status formControlName="status" [(ngModel)]="jobs.status" [disabled]="title.valid"></span></li>
                        <li>Job nature : &nbsp;<span><input type="text" [disabled]="true" name="workhour" class="form-control" id="workhour" #workhour formControlName="workhour" [(ngModel)]="jobs.workhour"></span></li>
                        <li>Salary in month : &nbsp;&nbsp; &nbsp; <span><input type="text" name="salary" class="form-control" id="salary" #salary formControlName="salary" [(ngModel)]="jobs.salary"></span></li>
                        <li>Application date : <span>12 Sep 2020</span></li>
                        <li>No_of person:&nbsp; <span><input type="text" name="person" class="form-control" id="person" #person formControlName="person" [(ngModel)]="jobs.person"></span></li>

                    </ul>
                   <div class="apply-btn2">
                      <a routerLink="/user/applicant/{{jobs.id}}"  class="btn" >Apply Now</a>
                   </div>
                 </div>
                  <div class="post-details4  mb-50">
                      <!-- Small Section Tittle -->
                     <div class="small-section-tittle">
                         <h4>Company Information</h4>
                     </div>
                        <span>Colorlib</span>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                      <ul>
                          <li>Name: <span><input type="text" name="CompanyName" class="form-control" id="CompanyName" #CompanyName formControlName="CompanyName" [(ngModel)]="jobs.CompanyName"> </span></li>
                          <li>Web : <span> colorlib.com</span></li>
                          <li>Email: <span><input type="text" name="contact_info" class="form-control" id="contact_info" #contact_info  formControlName="contact_info"[(ngModel)]="jobs.contact_info"></span></li>
                      </ul>
                 </div>
              </div>

          </div>
      </div>
    </form>
  </div>
  <!-- job post company End -->

</main>

