
<!-- offset for space horizontal -->
<!--
<div class="container-fluid page">
  <div class="page__box p-3 mt-1">update Admin</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute"> -->

      <br><br>
      <div class=" update mt-4 col-10 offset-2">
        <div class="card">
          <div class="card-header text-center ">update Post</div>
          <div class="card-body">
            <form [formGroup]="form">

              <div class="form-group row mb-3">
                <label for="title" class="form-lable"> Job Title</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="title" #title formControlName="title" [(ngModel)]="jobLists.title" [ngClass]="{'is-invalid': submitted && f.title.errors}">
                  <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                    <div *ngIf="f.title.errors.required">title is required</div>
                 </div>
                </div>
              </div>

              <div class="form-group row mb-3">
                <label for="packagedesc" class="form-lable">Role</label>
                 <div class="col-sm-10">
                     <input type="text" class="form-control" name="role" #role [(ngModel)]="jobLists.role" formControlName="role" [ngClass]="{'is-invalid': submitted && f.role.errors}" >
                     <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                      <div *ngIf="f.role.errors.required">role is required</div>
                   </div>
                 </div>
              </div>

              <div class="form-group row mb-3">
                <label for="gender" class="form-lable">Gender</label>
                 <div class="col-sm-10">
                     <input type="text" class="form-control" name="gender" #gender [(ngModel)]="jobLists.gender" formControlName="gender" [ngClass]="{'is-invalid': submitted && f.gender.errors}" >
                     <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                      <div *ngIf="f.gender.errors.required">gender is required</div>
                   </div>
                 </div>
              </div>

            <div class="form-group row mb-3">
              <label for="status" class="form-lable">Status</label>
              <div class="col-sm-10">
                 <input type="text" class="form-control"  name="status" #status formControlName="status" [(ngModel)]="jobLists.status" [ngClass]="{'is-invalid': submitted && f.status.errors}">
                 <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                    <div *ngIf="f.status.errors.required">Status is required</div>
                 </div>
                </div>
            </div>

            <div class="form-group row mb-3">
              <label for="skill" class="form-lable">Skill</label>
              <div class="col-sm-10">
                 <input type="text" class="form-control"  name="skill" #skill formControlName="skill" [(ngModel)]="jobLists.skill" [ngClass]="{'is-invalid': submitted && f.skill.errors}">
                 <div *ngIf="submitted && f.skill.errors" class="invalid-feedback">
                    <div *ngIf="f.skill.errors.required">skill is required</div>
                 </div>
                </div>
            </div>

            <div class="form-group row mb-3">
              <label for="workhour" class="form-lable">Workhour</label>
               <div class="col-sm-10">
                   <input type="text" class="form-control" name="workhour" #workhour [(ngModel)]="jobLists.workhour" formControlName="workhour" [ngClass]="{'is-invalid': submitted && f.workhour.errors}" >
                   <div *ngIf="submitted && f.workhour.errors" class="invalid-feedback">
                    <div *ngIf="f.workhour.errors.required">workhour is required</div>
                 </div>
               </div>
            </div>

          <div class="form-group row mb-3">
            <label for="person" class="form-lable">No_Of_Person</label>
            <div class="col-sm-10">
               <input type="text" class="form-control"  name="person" #person formControlName="person" [(ngModel)]="jobLists.person" [ngClass]="{'is-invalid': submitted && f.person.errors}">
               <div *ngIf="submitted && f.person.errors" class="invalid-feedback">
                  <div *ngIf="f.person.errors.required">person is required</div>
               </div>
              </div>
          </div>
          <div class="form-group row mb-3">
            <label for="description" class="form-lable">Description</label>
             <div class="col-sm-10">
                 <input type="text" class="form-control" name="description" #description [(ngModel)]="jobLists.description" formControlName="description" [ngClass]="{'is-invalid': submitted && f.description.errors}" >
                 <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                  <div *ngIf="f.description.errors.required">description is required</div>
               </div>
             </div>
          </div>
          <div class="form-group row mb-3">
            <label for="responsibility" class="form-lable">Responsibility</label>
             <div class="col-sm-10">
                 <input type="text" class="form-control" name="responsibility" #responsibility [(ngModel)]="jobLists.responsibility" formControlName="responsibility" [ngClass]="{'is-invalid': submitted && f.responsibility.errors}" >
                 <div *ngIf="submitted && f.responsibility.errors" class="invalid-feedback">
                  <div *ngIf="f.responsibility.errors.required">responsibility is required</div>
               </div>
             </div>
          </div>

        <div class="form-group row mb-3">
          <label for="name" class="form-lable">Company</label>
          <div class="col-sm-10">
             <input type="text" class="form-control"  name="name" #name formControlName="name" [(ngModel)]="jobLists.name" [ngClass]="{'is-invalid': submitted && f.name.errors}">
             <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">name is required</div>
             </div>
            </div>
        </div>
        <div class="form-group row mb-3">
          <label for="location" class="form-lable">Location</label>
           <div class="col-sm-10">
               <input type="text" class="form-control" name="location" #location [(ngModel)]="jobLists.location" formControlName="location" [ngClass]="{'is-invalid': submitted && f.location.errors}" >
               <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                <div *ngIf="f.location.errors.required">location is required</div>
             </div>
           </div>
        </div>

      <div class="form-group row mb-3">
        <label for="contact_info" class="form-lable">contact_info</label>
        <div class="col-sm-10">
           <input type="text" class="form-control"  name="contact_info" #contact_info formControlName="contact_info" [(ngModel)]="jobLists.contact_info" [ngClass]="{'is-invalid': submitted && f.contact_info.errors}">
           <div *ngIf="submitted && f.contact_info.errors" class="invalid-feedback">
              <div *ngIf="f.contact_info.errors.required">contact_info is required</div>
           </div>
          </div>
      </div>


                <div class="form-group row col-sm-8 mb-3 offset-2 ">
                  <button type="button"  class="btn btn-success" (click)="update(title.value,role.value,gender.value,status.value,skill.value,workhour.value,person.value,description.value,responsibility.value,name.value,location.value,contact_info.value)">Update</button>
               </div>

               <div>
                <a routerLink="/company/managePost" class=" col-lg ">Back</a>
               </div>
            </form>
          </div>
        </div>
      </div>

      <!-- </div>
      </div>
      </div> -->
