:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-drawer{
  width: 230px;
  background: #0f172a;

}
.mat-drawer-container{
  height: 40rem;
  width: 84rem;
  margin-top: 0;
  margin-right: 0;

}

#sidebarimage{
  border-radius: 50%;
}
