.page{
  color: white;
  pad: 0 1rem;
  background: #f1f5f9;
}
.page__box{
   min-height: 120px;
   background: #1e293b;
   margin: 0 -1rem;
   font-size: 36px;
}
.page .page__content{
  min-height: calc(100vh - 50px);
  border-radius: 10px;
  margin-top: -2rem;
  background: white;
  color: black;
  font-size: 1rem;
}
/* .page .page__content-data1{
  top: 50%;
  left: 10%;
  transform: translate(-50%,-50%);
} */

#video-slider{
  width: 60rem;

}
.sectionhome{
  margin-left: .1rem;
  margin-top: 1rem;
}
/* .home{
  margin-right: .5rem;
  margin-bottom: .1rem;
  width: 60rem;
} */

