
<!-- offset for space horizontal -->

<!-- <div class="container-fluid page">
  <div class="page__box p-3 mt-1">update Admin</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute"> -->

<br><br><br><br><br><br>
<div class="update mt-3 col-10 offset-2">
  <div class="card">
    <div class="card-header text-center ">Apply</div>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit(userName.value,email.value,title.value,JobRole.value,CompanyName.value,CV.value,id.value)">

        <div class="form-group row mb-3">
          <label for="userName" class="form-lable">Full Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="userName" formControlName="userName" #userName [(ngModel)]="jobs.userName" [ngClass]="{'is-invalid': submitted && f.name.errors}" placeholder="{{username}}" value="{{username}}" >
            <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
              <div *ngIf="f.userName.errors.required">User Name is required</div>
           </div>
          </div>
        </div>

      <div class="form-group row mb-3">
        <label for="email" class="form-lable">Email</label>
        <div class="col-sm-10">
           <input type="email" class="form-control" formControlName="email" #email value="{{email}}" name="email"  [(ngModel)]="jobs.email">
           <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">email is required</div>
           </div>
          </div>
      </div>

        <div class="form-group row mb-3">
          <label for="title" class="form-lable">job Title</label>
           <div class="col-sm-10">
               <input type="text" class="form-control" name="title" #title [(ngModel)]="jobs.title" formControlName="title" [ngClass]="{'is-invalid': submitted && f.title.errors}">
               <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                <div *ngIf="f.title.errors.required">title is required</div>
             </div>
           </div>
        </div>

        <div class="form-group row mb-3">
          <label for="job_id" class="form-lable">job Id</label>
           <div class="col-sm-10">
               <input type="text" class="form-control" name="job_id" #id [(ngModel)]="jobs.id" formControlName="id" [ngClass]="{'is-invalid': submitted && f.id.errors}">
               <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
                <div *ngIf="f.id.errors.required">id is required</div>
             </div>
           </div>
        </div>

        <div class="form-group row mb-3">
          <label for="JobRole" class="form-lable">Role</label>
           <div class="col-sm-10">
               <input type="text" class="form-control" name="JobRole" #JobRole [(ngModel)]="jobs.JobRole" formControlName="JobRole" [ngClass]="{'is-invalid': submitted && f.JobRole.errors}" >
               <div *ngIf="submitted && f.JobRole.errors" class="invalid-feedback">
                <div *ngIf="f.JobRole.errors.required">JobRole is required</div>
             </div>
           </div>
        </div>


        <div class="form-group row mb-3">
          <label for="packagename" class="form-lable"> Company</label>
          <div class="col-sm-10">
            <input type="text" class="form-control"  name="CompanyName" #CompanyName formControlName="CompanyName" [(ngModel)]="jobs.CompanyName" [ngClass]="{'is-invalid': submitted && f.CompanyName.errors}">
            <div *ngIf="submitted && f.CompanyName.errors" class="invalid-feedback">
              <div *ngIf="f.CompanyName.errors.required">Company Name is required</div>
           </div>
          </div>
        </div>

        <div class="form-group row mb-3">
          <label for="packagename" class="form-lable">Enter your CV</label>
          <div class="col-sm-10">
            <img class="rounded-circle" [src]="[url]" alt="" width="250px" height="200px" class="previewImage"><br><br>
            <input type="file" class="form-control"  name="CV" formControlName="CV" #CV [(ngModel)]="jobs.CV" (change)=" uploadImage($event)" [ngClass]="{'is-invalid': submitted && f.CV.errors}" placeholder="Enter your CV">
            <div *ngIf="submitted && f.CV.errors" class="invalid-feedback">
              <div *ngIf="f.CV.errors.required">CV is required</div>
              <!-- <input type="file" name="image" class="form-control" #image  formControlName="image" (change)=" uploadImage($event)" [ngClass]="{'is-invalid': submitted && f.image.errors}"> -->
           </div>
          </div>
        </div>

          <div class="form-group row col-sm-8 mb-3 offset-2 ">
            <button type="submit"  class="btn btn-success" >Apply</button>
         </div>

         <div>
          <a routerLink="/user/joblist" class=" col-lg ">Back</a>
         </div>
      </form>
    </div>
  </div>
</div>

<!-- </div>
</div>
</div> -->
