<!-- <div class="container-fluid page">
  <div class="page__box p-3 mt-1">Home</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      Home content goes here

    </div>
  </div>

</div> -->

<div class="container-fluid page">
  <div class="page__box p-3 mt-1">Home</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data1 position-absolute text-center">

      <!-- <app-home></app-home> -->
        <section class="sectionhome mb-4" id="home">
               <div class="content">
                 <h3 class="eth">Ethiopia</h3>
                 <p class="eth">most incredible place to visit in Ethiopia</p>
                 <div class="video-container">
                  <video src="assets/images/4.mp4" id="video-slider" loop autoplay muted></video>
                </div>
                   <a href="#home" class="content-btn">discover more</a>
                   <div class="description">
                    <p>Ethiopia is the “Land of Thirteen Months”. It’s a magical country with ancient and spiritual roots, rich in significant religious history and that has a fabulous story to tell. The beauty of wild mountains is only surpassed by the awe-inspiring religious architecture that draws visitors to this amazing country. It’s where legends of the Ark of the Covenant live side by side and in harmony with ancient Islamic mosques. From thundering waterfalls to its vibrant and modern capital city, Addis Ababa, Ethiopia is a place you have to see to believe. Here are the best and most incredible places to visit in Ethiopia.</p>
                   </div>


               </div>
               <div class="contro">
                         <span class="control-btn active" data-src="images/4.mp4"></span>
                         <span class="control-btn" data-src="images/4.mp4"></span>
                          <span class="control-btn" data-src="images/6.mp4"></span>
                          <span class="control-btn" data-src="images/3.mp4"></span>
                         <span class="control-btn" data-src="images/5.mp4"></span>
                     </div>
               <div class="video-container">
                 <video src="images/1.mp4" id="video-slider" loop autoplay muted></video>
               </div>

             </section>

            <!--home section ends-->

      <app-book></app-book>
      <app-packagedetail></app-packagedetail>
      <app-gallery></app-gallery>
      <app-service></app-service>
      <app-contact></app-contact>
      <app-review></app-review>

    </div>
  </div>

</div>
