<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Dashboard</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">


        <div class="col-4 text-center" routerLink="adminhome">
            <h1>1</h1><br>
           Home
        </div>

        <div class="col-4 text-center" routerLink="manageUser">
            <h1>2</h1><br>
           Manage User
        </div>

        <div class="col-4 text-center" routerLink="package">
            <h1>3</h1><br>
            Manage Package
        </div>

        <div class="col-4 text-center" routerLink="service">
            <h1>4</h1><br>
            Service
        </div>
        <div class="col-4 text-center" routerLink="review">
          <h1>5</h1><br>
          Review
      </div>
    </div>
  </div>
</div>
