/* .reset{
  float: right;
} */
/* @import "../../Dashboard/admin-dashboard/admin-home/admin-home.component.css";*/
.login1{
  /* width: 40rem; */
  margin-right: 20rem;
}

.signup-form{
	position: fixed;
	top: -120%;left: 0;
	z-index: 10000;
	min-height: 100vh;
	width: 100%;
	background: rgba(0, 0, 0, .7);
	display: flex;
	align-items: center;
	justify-content: center;

}
.signup-form.active{
	top: 0%;
}

.signup-form form{
	margin: 1rem;
	padding: 1rem 2rem;
	border-radius: .5rem;
	background: #fff;
	width: 40rem;
  margin-top: 1rem;
}
.signup-form form h3{
	font-size: 2rem;
	color: #444;
	text-transform: uppercase;
	text-align: center;
	padding: 1rem 0;
}
.signup-form form #box{
	width: 100%;
	padding: .5rem;
	color: #333;
	margin: .6rem 0;
	border: 0.2rem solid rgba(0, 0, 0,.3);
	text-transform: none;
}
.signup-form form #box:focus{
	border-color: rgb(0, 183, 255);
}
.signup-form form #remember{
	margin: .1rem 0;
  font-size: .2rem;
}
.signup-form form label{
	font-size: 1rem;
}
.signup-form form .btn{
	display: block;
	width: 100%;
	font-size: 1.5rem;
  background: orange;
}
.signup-form form .btn:hover{
	background: rgba(255, 165, 0, .2);
	color: orange;;
}
.signup-form form p{
	padding: .5rem;
	font-size: 1rem;
	color: #666;
}
.signup-form form p a{
	color: orange;
}
.signup-form form p a:hover{
	color: #333;
	text-decoration: underline;
}
.signup-form #closer{
	position: absolute;
	top: 2rem;right: 2rem;
	font-size: 3rem;
	color: #fff;
	cursor: pointer;

}
