
<main>

  <!-- Hero Area Start-->
  <div class="slider-area ">
  <div class="single-slider section-overly slider-height2 d-flex align-items-center" style="background-image:url('assets/img/hero/about.jpg')">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="hero-cap text-center">
                      <h2>SIGNUP</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
  <!-- Hero Area end-->


<div class=" login-form mb-3 col-6 offset-2 ">
  <!-- <i id="closer"><a class="fas fa-times" href="#"></a></i> -->
  <div class="card">
    <div class="card-header text-center">SIGNUP</div>
    <div class="card-body">

         <div class="sign-box text-center">
          <label for="t" class=" signup col-lg">signup as: </label><br>
          <a routerLink="/signup" class="link col-lg mb-3" id="user" >User</a><br>
          <a routerLink="/Companysignup" class="link mb-3 mt-3" id="company">Company</a>
         </div>

    </div>
  </div>
</div>
</main>

