.logo{
  text-align: center;
  padding: 2.6rem 1rem;
}

.logo img{
  width: 100px;
  border-radius: 50%;
}

 .logo{
	font-size: 2rem;
	font-weight: bolder;
	color: #fff;
	text-transform: uppercase;
	/*margin-right: auto;*/
}
.logo span{
	color: red;

}
.mat-icon{
  vertical-align:auto;
  margin-right: 1px;
}
.mat-divider{
  border-top-width: 2px;
 border-color: white;
}
.mat-list-item{
  color: #94a3b8 !important;
  font-size: 0.8rem;
  height: 44px !important;
  margin-top: 2px;
}
.mat-list-item::ng-deep .mat-list-item-content{
  border-radius: 5rem;
  margin: 0 8px;
}
.mat-list-item::ng-deep .mat-list-item-content:hover{
  background: #2c3344 !important;
}
.list-item-active{
  color: #f2f5f7;
}
.list-item-active::ng-deep .mat-list-item-content{
  background: #2c3344 !important;
}
.list-item-active::ng-deep .mat-list-item-content:hover{
  background: #2c3344 !important;
}
.mat-subheader{
  color: #818cf8;
  font-size: 0.6rem;
  font-weight: 100;
  letter-spacing: 1px;
}
#luggage{
  font-size: 5rem;
  margin-left: 2rem;
}
.logo1{
  margin-right: 7rem;
}
