<mat-nav-list>
  <div class="logo py-2">
   <!-- <img src="assets/images/t.jpg" alt="Travel"> -->
   <mat-icon><i id="luggage" class="fa-solid fa-person-walking-luggage"></i></mat-icon>
   <a href="#" class="logo1" ><span>JOb</span>Portal</a>
  </div>
  <mat-divider></mat-divider>
  <h2 mat-subheader class="mt-2">Aplications</h2>
  <a mat-list-item routerLink="Adminhome" routeLinkActive="list-item-active" >
   <mat-icon><i class="fa-solid fa-house"></i></mat-icon>Home
 </a>
 <a mat-list-item routerLink="dashboard" routeLinkActive="list-item-active" >
   <mat-icon><i class="fa-solid fa-border-all"></i></mat-icon>dashboard
 </a>
 <a mat-list-item routerLink="manageuser" routeLinkActive="list-item-active" >
   <mat-icon><i class="fa-solid fa-people-roof"></i></mat-icon>Manage User
 </a>
 <a mat-list-item routerLink="manageAdmin" routeLinkActive="list-item-active" >
   <mat-icon><i class="fa-solid fa-photo-film"></i></mat-icon> Manage Admin
 </a>
 <!-- <a mat-list-item routerLink="gallery" routeLinkActive="list-item-active">
   <i class="fa-solid fa-photo-film"></i>gallery
 </a> -->
 <a mat-list-item routerLink="service" routeLinkActive="list-item-active">
   <mat-icon><i class="fa-brands fa-servicestack"></i></mat-icon>Service
 </a>
 <a mat-list-item routerLink="review" routeLinkActive="list-item-active">
   <mat-icon><i class="fa-solid fa-bell"></i></mat-icon>Review
 </a>
 </mat-nav-list>
