<!-- offset for space horizontal -->

<br><br><br><br><br><br><br>
<div class="mb-3 col-8 offset-2">
  <div class="card">
    <div class="card-header">Change Password</div>
    <div class="card-body">

      <form #resetPasswordForm="ngForm" (ngSubmit)="onSubmit()">
       <!-- {{form.resetToken}} -->

            <!-- <div class="alert alert-danger" [hidden]="!error">
              {{error}}
            </div> -->
        <div class="form-group row mb-3">
          <label for="exampleInputEmail1" class="col-sm-2 col-form-lable">Email </label>

        <div class="col-sm-10">
          <input type="email" name="email"class="form-control" id="exampleInputEmail1" [(ngModel)]="form.email" placeholder="Email" required>
          <span class="text-danger" [hidden]="!error.email">{{error.email}}</span>
        </div>
      </div>

      <div class="form-group row mb-3">
        <label for="exampleInputEmail2" class="col-sm-2 col-form-lable">Old Password </label>

      <div class="col-sm-10">
        <input type="password" name="oldpassword" class="form-control" id="exampleInputEmail2" [(ngModel)]="form.oldpassword" placeholder="Old Password" required>
        <span class="text-danger" [hidden]="!error.oldpassword">{{error.oldpassword}}</span>
      </div>
    </div>

        <div class="form-group row">
          <label for="exampleInputPassword1" class="col-sm-2 col-form-lable">NewPassword</label>
          <div class="col-sm-10">
            <input type="password" name="password" class="form-control" [(ngModel)]="form.password " placeholder="password" id="exampleInputPassword1" required>
            <!-- <input type="password" name="password" class="form-control ('password') is-invalid" [(ngModel)]="form.password " placeholder="password" id="exampleInputPassword1" required> -->
            <span class="text-danger error" [hidden]="!error.password">{{error.password}}</span>
          </div>
        </div><br>

        <div class="form-group row">
          <label for="exampleInputPassword22" class="col-sm-2 col-form-lable">Confirm Password</label>
          <div class="col-sm-10">
            <input type="password" name="password_confirmation" class="form-control" [(ngModel)]="form.password_confirmation" placeholder="Confirm password" id="exampleInputPassword22" required>
          </div>
      </div><br>


        <div class="form-group offset-2 row">

         <div class="form-group row col-sm-10 mb-3 ">

            <button type="submit" class="btn btn-primary" [disabled]="!resetPasswordForm.valid">Change password</button>

         </div>
        </div>
      </form>
    </div>
  </div>
</div>
